.DS_Store
.eclipse.buildship.core.prefs
.gradle/
.idea/
.kubernetes-manifests-*/
.project
.skaffold-*.yaml
.terraform.lock.hcl
.terraform/*
.venv/
.vs/
.vscode/
*.iml
*.ipr
*.iws
*.pyc
*.swp
*.tfstate*
*.tfvars
*~
bin/
build/
Dockerfile.pip
node_modules/
obj/
pkg/
release/wi-kubernetes-manifests.yaml
vendor/
gha-creds-*.json
# Terraform AWS del proyecto
**/.terraform/*
*.tfplan
crash.log

# Historial local de VS Code
.history/

# Conservar el archivo de bloqueo de Terraform AWS
!infra/terraform-aws/.terraform.lock.hcl
